<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Bday" connectionString="Data Source=IRSDSK207\sqlexpress2014;Initial Catalog=BDayDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" >
    </defaultProxy>
  </system.net>
</configuration>